################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGl/v17/ipch/AutoPCH/636eafae41c7cfa1/APPLICATION.ipch
